 {% extends 'layout.html' %}   

 {% block body %}

    {% with messages = get_flashed_messages() %}

        {% if messages %}
            {%  for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}

    {% endwith %}

    <div class="row">
        <div class="col-md-5">
            {% include('partials/_contatoForm.html') %}
        </div>

        <div class="col-md-7">
            <div>
                {% for contato in contatos %}
                
                <div>
                    <h5>{{contato.nome}}</h5>
                    <div>
                        <a href="{{ url_for('contatos.upd_contato', id=contato.id) }}"> Atualizar </a>
                        <a href="{{ url_for('contatos.del_contato', id=contato.id) }}"> Remover </a>
                    </div>
                    <p>{{contato.email}}</p>
                    <p>{{contato.telefone}}</p>
                </div>
            
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}