{% extends 'layout.html' %}

{% block body %}

    <h1>Sobre</h1>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum natus ut deserunt voluptatem enim autem sint
        quae architecto odio quos odit velit fugiat tenetur, facilis voluptas, laudantium eaque, recusandae impedit
        pariatur! Ipsa, fugiat voluptatum quis, temporibus odio, cupiditate illum provident labore perspiciatis
        reiciendis voluptates officia corporis vero natus est aut error quisquam eius. Itaque veniam consequatur ut hic,
        at nam blanditiis voluptatem corporis provident amet quo, repudiandae sit beatae excepturi? Deleniti,
        blanditiis, expedita saepe obcaecati corporis at repellendus placeat similique, dolores dignissimos deserunt
        quaerat natus culpa voluptatibus iusto! In, inventore vel temporibus incidunt quis doloribus enim et pariatur
        molestias iure?
    </p>

{% endblock %}