{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

            <form action="/atualiza/{{contato.id}}" method="POST" class="card bg-dark text-light">
                <div class="card-body p-4">
                    <div class="mb-3">
                        <label for="nome">Nome Completo:</label>
                        <input type="text" name="nome" placeholder="Informe o nome"
                            class="form-control rounded-0 bg-dark border-0 text-white" value={{contato.nome}} required> 
                    </div>
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Informe o email"
                            class="form-control rounded-0 bg-dark border-0 text-white" value={{contato.email}} required>
                    </div>
                    <div class="mb-3">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" name="telefone" placeholder="Informe o telefone"
                            class="form-control rounded-0 bg-dark border-0 text-white" value={{contato.telefone}} required>
                    </div>
                
                    <button class="btn btn-primary">Salvar</button>
                </div>
            
            </form>
        </form>
    </div>
</div>

{% endblock %}