{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">
        <form action="/atualiza/{{contato.id}}" method="POST">
            <input type="text" name="nome" placeholder="Informe o nome" value={{contato.nome}}>
            <input type="email" name="email" placeholder="Informe o email" value={{contato.email}}>
            <input type="tel" name="telefone" placeholder="Informe o telefone" value={{contato.telefone}}>
    
            <button>Atualizar</button>
        </form>
    </div>
</div>

{% endblock %}